@using NewsSite.Common;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("News Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (ViewBag.Role == RoleType.Publisher.ToString()|| ViewBag.Role == RoleType.Employee.ToString())
                    {
                        <li>@Html.ActionLink("Articles", "ArticleList", "Article", new { area = "" }, null)</li>
                    }
                    @if (ViewBag.Role == RoleType.Publisher.ToString())
                    {
                        <li>
                            @Html.ActionLink("My News", "PersonalArticleList", "Article", new { area = "" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Create Article", "CreateArticle", "Article", new { area = "" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Stats", "GetStats", "Stats", new { area = "" }, null)
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <footer class="col-md-12">
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
