@model IEnumerable<NewsSite.WebApplication.Models.ArticleViewModel>

@{
    ViewBag.Title = "Article List";
}

<h2>@ViewBag.Title</h2>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ViewArticle", new { articleId = item.Id })" class="list-group-item">
            <span>@item.Title</span>
            <span class="label label-default label-pill pull-right">@(item.UpdatedDate ?? item.CreatedDate)</span>
            <span class="labellabel pull-right">&nbsp;</span>
            <span class="label label-default label-pill pull-right">@item.Author</span>
        </a>
    }

</div>